main {
    .page-content {
        text-align: center;
        padding-top: 48px;

        h2 {
            color: #2c2c2c;
        }
    
        div {
            margin-top: 32px;

            a {
                padding: 8px;
                border: 1px solid rgba(44, 44, 44, 0.5);
                color: #2c2c2c;
                text-decoration: none;
                transition: all 0.3s;
            }
        }
    }
}

/* hover effects only on screen width of 1025px and more*/
@media (min-width: 1025px) {
    main {
        .page-content {
            div {
                a:hover {
                    color: black;
                    border-color: #2c2c2c;
                }
            }
        }
    }
}

