$dark-grey: rgb(44, 44, 44);
$light-grey: rgb(118, 118, 118);

header {
    margin-bottom: 0;
}

.page-content {
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    section {
        border-right: 1px solid rgba($dark-grey, 0.15);
        padding: 24px 32px 16px;
        margin-right: 32px;

        h4 {
            margin: 22px 0;
            color: $dark-grey;
        }

        #contact-form {
            label {
                display: inline-block;
                padding-bottom: 4px;
                color: rgba($dark-grey, 0.8);
            }

            input {
                height: 35px;
                margin-bottom: 16px;
            }

            input, textarea {
                border: 1px solid rgba($light-grey, 0.9);
                padding: 2px;
                width: 180px;

                &:focus {
                    outline: 1px solid rgba($light-grey, 0.5);
                    outline-offset: 0;
                }
            }

            textarea {
                height: 80px;
            }

            button {
                margin-top:20px;
                padding: 12px 0;
                width: 186px;
                background-color: white;
                border: 1px solid $light-grey;
                font-size: 15px;

                &:hover {
                    background-color: rgba($light-grey, 0.04);
                }

                &:focus {
                    outline: 1px solid rgba($light-grey, 0.5);
                    outline-offset: 0;
                }
            }
        }
    }

    aside {
        padding-top: 24px;

        .social-media {
            padding-right: 52px;

            ul {
                padding: 66px 48px 12px 0;
                margin: 0;
                list-style-type: none;
    
                li {
                    margin-bottom: 10px;

                    a {
                        text-decoration: none;
                        color: rgba($dark-grey, 0.8);
                    }
                }
            }
        }

        .message {
            padding-right: 52px;
            border-top: 1px solid rgba($dark-grey, 0.15);
            height: 50%;

            p {
                font-size: 17px;
                text-align: justify;
            }
        }
    }
}

/* hover effects only on screen width of 1025px and more*/
@media only screen and (min-width: 1025px) {
    .page-content aside .social-media ul li a {
        &.facebook-a:hover {
            color: #1877f2;
        }

        &.instagram-a:hover {
            color: #FF1493;
        }

        &.twitter-a:hover {
            color: #1ea0f0;
        }

        &.youtube-a:hover {
            color: #E62117;
        }
    }
}

// change layout
@media only screen and (min-width: 1000px) {
    .page-content {
        width: 1000px;

        section {
            padding-right: 64px;
            padding-left: 164px;
            margin-right: 64px;
        }

        aside {
            padding-right: 100px;
            
            .message {
                width: 400px;
            }
        }
    }
}

@media only screen and (min-width: 768px) {
    header {
        margin-bottom: 24px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 999px) {
    .page-content {
        section {
            padding-right: 48px;
            padding-left: 48px;
            margin-right: 48px;
        }

        aside .message {
            padding-right: 150px;
        }
    }

}

@media only screen and (max-width: 767px) {
    .page-content aside .message {
        padding-right: 50px;
    }
}

@media only screen and (max-width: 500px) {
    .page-content {
        flex-direction: column;

        section {
            margin-right: 0;
            border-bottom: 1px solid rgba($dark-grey, 0.15);
            border-right: none;
            padding-bottom: 36px;
            text-align: center;

            #contact-form {
                input, textarea {
                    width: 90%;
                }
    
                button {
                    width: calc(90% + 6px);
                }
            }
        }
        
        aside {
            padding: 24px 0;

            .social-media ul,
            .message {
                padding: 12px 48px;
            }
        }
    }
}