@keyframes transitionIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

html, body {
    font-family: 'Inconsolata', monospace !important;
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
    display:flex; 
    flex-direction:column;
    animation: transitionIn 0.5s;
}

header {
    height: 300px;
    text-align: center;
    margin-bottom: 24px;

    .mobile-navigation-bar {
        display: none;
        position: absolute;
        right: 0;
        margin: 36px 24px 0 0;

        div {
            width: 20px;
            height: 3px;
            background-color: #919191;
            margin: 3px 0;
        }
    }

    h1 a,
    ul.navigation a {
        text-decoration: none;
        color: #919191;
    }

    ul {
        padding: 0;
    }

    h1 {
        padding: 70px 0 30px;
    }

    nav {
        margin: 30px 0;

        ul {
            li a {
                transition: color 0.2s;

                &:hover {
                    color: black;
                }
            }

            span.nav-dot {
                margin: 0 18px;
                height: 5px;
                width: 5px;
                border-radius: 50%;
                display: inline-block;
                background-color: #dedede;
            }
        }
    }

    .social-media-icons {
        ul {
            margin: 30px 5px 0 0;

            a {
                text-decoration: none;

                svg {
                    color: black;
    
                    &:hover {
                        color: #1877f2;
                    }
                }
            }
        }

        .fb-icon {
            position: relative;
            top: 3px;

            svg {
                transition: color 0.15s;
            }
        }

        li.fb-li-element {
            position: relative;
            width: 87px;
            height: 20px;
            display: inline-block;
            vertical-align: bottom;
        }
    }

    nav,
    div.social-media-icons {
        color: #919191;
        font-size: 15px;
        font-weight: 600;
        margin-bottom: 8px;

        ul {
            li {
                display: inline;
            }
        }
    }
}

main {
    font-family: 'Open Sans', sans-serif !important;
    letter-spacing: -0.2px;

    .container {
        .box {
            a {
                text-decoration: none;
            }

            .box-title {
                display: flex;
                align-items: center;
                justify-content: center;
                word-wrap: break-word;
    
                p {
                    color: #2c2c2c;
                    margin: 0;
                    letter-spacing: 0.25px;
                    font-weight: 600;
                    padding-left: 12px;
                    padding-right: 12px;
                    text-decoration: none;
                }
            }
        }
    }
}

footer {
    height:80px;
    margin-top:auto;
    text-align: center;

    div.footer-content {
        padding: 24px;
        color: #919191;
        font-size: 13px;

        span {
            position: relative;
            left: 4px;
            font-size: 18px;
        }

        p {
            display: inline;
        }
    }
}

.displayOff {
    display: none;
}

.scroll-lock {
    overflow: hidden;
}

.cursor {
    cursor: pointer;
}

/* if screen width is 768px or smaller,
   change header navigation to mobile design */
@media (max-width: 768px) {
    header {
        text-align: left;
        height: 100px;
        border-bottom: 1px solid rgba(200, 200, 200, 0.4);
        box-shadow: 0 0 2px rgba(200, 200, 200, 0.3);

        #top-navigation {
            padding-top: 2px;
        }

        nav {
            display: none;
            margin: 15px 0;
        }

        .mobile-navigation-visible {
            display: block;
        }

        .mobile-navigation-hidden {
            display: none;
        }

        div.social-media-icons {
            padding: 0;
        }

        .social-media-icons {
            visibility: hidden;
            position: absolute;
            top: -1000px;
            text-align: center;
            padding: 0;
        }

        .mobile-socials-visible {
            visibility: visible;
            position: relative;
            top: 0;
            padding-top: 0;
        }
    
        .mobile-socials-hidden {
            visibility: hidden;
            position: absolute;
            top: -1000px;
        }

        ul.navigation {
            text-align: center;

            li {
                display: block;
                margin-top: 18px;

                a {
                    font-size: 16px;
                }

                span {
                    display: none;
                }
            }
        }
        .mobile-navigation-bar {
            display: inline-block;
        }
        
        h1 {
            display: inline-block;
            padding: 10px 0 12px 24px;
        }
    }
}

/* all following media queries are for resizing gallery/video title text */
@media (min-width: 601px) {
    .box-title {
        padding: 10px 0;
        height: 75px;
    }
}

@media (max-width: 600px) {
    .box-title {
        padding: 6px 0;
        height: 62px;
    }
}

@media (max-width: 360px) {
    .box-title {
        padding: 8px 0;
        height: 50px;
    }
}

@media (min-width: 301px) {
    .box-title {
        p {
            font-size: 15px;
        }
    }
}

@media (max-width: 300px) {
    .box-title {
        p {
            font-size: 14px;
        }
    }
}

@media (max-width: 200px) {
    .box-title {
        p {
            font-size: 12px;
        }
    }
}